body {
    font-family: roboto, sans-serif;
}

header,
.container1,
footer {
    background-color: #1F2937;
}

.container2,
.container4 {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>span {
    font-size: 24px;
    color: #F9FAF8;
}

header>ul {
    list-style: none;
    display: flex;
}

header a {
    text-decoration: none;
    color: #9c9c9c;
}

.container1 {
    display: flex;
}

.container1 h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.container1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder {
    background-color: #9c9c9c;
}

button {
    background-color: #3882F6;
}

.container2 h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.boxContainer {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.container3 {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}